[submodule "media/cauldron-media"]
	path = media/cauldron-media
	url = ../../GPUOpen-LibrariesAndSDKs/Cauldron-Media.git
[submodule "libs/cauldron"]
	path = libs/cauldron
	url = ../../GPUOpen-LibrariesAndSDKs/Cauldron.git
[submodule "libs/vkd3d"]
	path = libs/vkd3d
	url = https://github.com/claynathaniel/vkd3d.git
